
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    strong {
    color:red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="/Producto/Crear" method="post" enctype="multipart/form-data">
                <div class="col-md-4">

                    <label>Nombre del Producto</label>
                    <input class="form-control" autofocus autocomplete="off" type="text" name="nombre" value="@Model.nombre" />
                    <br /><strong>@Html.ValidationMessage("Nombre")</strong>
                    <label>Precio</label>
                    <input class="form-control" name="precio" value="@Model.precio" />
                    <br /><strong>@Html.ValidationMessage("Nombre")</strong>
                    <label>Categoría</label>
                    <select name="idCategoria">
                        <option value="">--------Eliga una opción---------</option>
                        @foreach (var item in ViewBag.Categoria)
                        {
                            <option  @(Model.idCategoria==item.id ? "selected":"") value="@item.id">@item.nombre</option>
                        }
                    </select>
                    <br /><strong>@Html.ValidationMessage("Talla")</strong>
                    <label>Stock</label>
                    <input class="form-control" name="stock" value="@Model.stock" />
                    <br /><strong>@Html.ValidationMessage("Stock")</strong>
                </div>
                <div class="col-md-4">
                    <label>Descripción</label>
                    <textarea class="form-control" name="descripcion" value="@Model.descripcion"></textarea>
                    <br /><strong>@Html.ValidationMessage("Nombre")</strong>
                    <label>Marca</label>
                    <input class="form-control" name="marca" value="@Model.marca" />
                    <br /><strong>@Html.ValidationMessage("Marca")</strong>
                    <label>Modelo</label>
                    <input class="form-control" name="modelo" value="@Model.modelo" />
                    <br /><strong>@Html.ValidationMessage("Modelo")</strong>
                    <label>talla</label>
                    <select name="talla">
                        <option value="">--------Eliga una opción---------</option>
                        <option @(Model.talla == 28 ? "selected":"") value="28">28</option>
                        <option @(Model.talla ==30 ? "selected":"") value="30">30</option>
                        <option @(Model.talla ==32? "selected":"") value="32">32</option>
                        <option @(Model.talla ==36? "selected":"")value="36">36</option>
                    </select>

                    <label>Imagen del Producto</label>
                    <input class="form-control" type="file" name="file" value="@Model.imagen" />
                    <br /><strong>@Html.ValidationMessage("Imagen")</strong>
                    <br />
                    <br />
                </div>
                <button class="btn btn-success">Crear Producto</button>
            </form>
        </div>
    </div>
</div>

