
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">

        </div>

        <div class="container col-lg-6">
            <h2 class="subtitulos text-center bg-primary">Editar Producto: @Model.nombre</h2>
            <form action="/Producto/Editar" method="post">
                <label>Nombre</label>
                <input class="form-control" autocomplete="off" name="nombre" value="@Model.nombre" />

                <label>Fecha de Registro</label>
                <input class="form-control" autocomplete="off" name="fecha" value="@Model.fecha" />

                <label>Precio</label>
                <input class="form-control" autocomplete="off" name="precio" value="@Model.precio" />

                <label>Stock</label>
                <input style="height:45px" class="form-control" autocomplete="off" name="stock" value="@Model.stock" />

                <label>Descripción</label>
                <input style="height:45px" class="form-control" autocomplete="off" name="descripcion" value="@Model.descripcion" />

                <label>Marca</label>
                <input style="height:45px" class="form-control" autocomplete="off" name="marca" value="@Model.marca" />

                <label>Modelo</label>
                <input style="height:45px" class="form-control" autocomplete="off" name="modelo" value="@Model.modelo" />

                <label>Talla</label>
                <input style="height:45px" class="form-control" autocomplete="off" name="talla" value="@Model.talla" />

              
                <button class="btn btn-primary">Guardar</button>
                <a class="btn btn-danger" href="/Oferta">Cancelar</a>
            </form>
        </div>
    </div>
</div>


