
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    tbody {
    color:rgba(0, 0, 0, 0.75);
    }
</style>
<h2>Lista de Productos</h2>

<table class="table">
    <thead >
        <tr >
            <th>Id</th>
            <th>Nombre del Producto</th>
            <th>Fecha de Registro</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Stock</th>
            <th>Estado</th>
            <th>Imagen</th>
            <th>Buttons</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.nombre</td>
            <td>@item.fecha</td>
            <td>@item.precio</td>
            <td>@item.idCategoria</td>
            <td>@item.stock</td>
            <td>@item.isActive</td>
            <td><img src="@item.imagen" style="width:50px;height:50px" /></td>
            <td >
                <a class="btn btn-outline-success" href="/Producto/Editar">Editar</a>
                <a class="btn btn-outline-success" href="/Producto/Eliminar">Eliminar</a>
            </td>

            @*@if (ViewBag.usuario != null)
        {
            <td><a class="btn btn-outline-success" href="/Producto/Editar">Editar</a></td>
            <td><a class="btn btn-outline-danger"href="/Producto/Editar">Eliminar</a></td>
            @*<td><a href="/Pokemon/Capturar?idPokemon=@item.Id&idUsuario=@ViewBag.usuario&tipo=2">Atrapar con superball</a></td>
        }*@
        </tr>

        }

    </tbody>

</table>

