
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    tbody {
        color: rgba(0, 0, 0, 0.75);
    }
</style>
<style>
    .h2 {
        color: black;
    }
</style>
<div class="row">
    <br />
    <h2 class="text-center ">LISTA DE PRODUCTOS</h2>
    <hr />
</div>

<div id="index">
    <!--start-top-serch-->
    <div id="search" class="text-left">
        <input type="text" style="width:600px" placeholder="Buscar aquí..." />
        <button type="submit" style="width:40px" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
    </div>
    <!--close-top-serch-->
</div>
<div>
    <a id="btn">Crear</a>
</div>
<table class="table" id="div">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre del Producto</th>
            <th>Fecha de Registro</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Stock</th>
            <th>Estado</th>
            <th>Imagen</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td><div class="text-center">@item.Id</div> </td>
                <td>@item.nombre</td>
                <td>@item.fecha</td>
                <td>@item.precio</td>
                <td>@item.idCategoria</td>
                <td>@item.stock</td>
                <td>@item.isActive</td>
                <td><img src="@item.imagen" style="width:50px;height:50px" /></td>
                <td class="">
                    <div class="text-right">
                        <a class="btn btn-outline-success" href="/Producto/Editar?ID=@item.Id">Editar</a>
                        <a class="btn btn-outline-success" href="/Producto/Eliminar?ID=@item.Id">Eliminar</a>
                    </div>
                </td>
            </tr>
        }

    </tbody>

</table>


<script>
    $("#btn").click(function (e) {
        $.ajax("/Producto/Crear").done(function (res) {
            $("#div").html(res);
        })
    });
</script>