
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>

    strong {
        color: red;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-3">

        </div>

        <div class="container col-lg-6">
            <h2 class="subtitulos text-center bg-primary">Editar Oferta:@Model.nombre</h2>
            <form action="/Oferta/Editar" method="post" enctype="multipart/form-data">
                <label>Nombre</label>
                <input class="form-control" autocomplete="off" name="nombre" value="@Model.nombre" />
                <br />
                <strong> @Html.ValidationMessage("Nombre")</strong>
                <br />
                <label>Fecha de Inicio</label>
                <input class="form-control" autocomplete="off" name="fechaInicio" value="@Model.fechaInicio" />
                <br />
                <strong> @Html.ValidationMessage("FechaInicio")</strong>
                <br />
                <label>Fecha de Fin</label>
                <input class="form-control" autocomplete="off" name="fechaFin" value="@Model.fechaFin" />
                <br />
                <strong> @Html.ValidationMessage("FechaFin")</strong>
                <br />
                <label>Descripción</label>
                <input style="height:45px" class="form-control" autocomplete="off" name="descripcion" value="@Model.descripcion" />
                <br />
                <strong> @Html.ValidationMessage("Descripcion")</strong>
                @*<label>Imagen</label>
                <input style="height:45px" class="form-control" name="file" value="@Model.file "/>
                <br />*@
                <strong> @Html.ValidationMessage("Descripcion")</strong>
                <br />
                <button class="btn btn-primary">Guardar</button>
                <a class="btn btn-danger" href="/Oferta">Cancelar</a>
            </form>
        </div>
    </div>
</div>


